* {
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/* default scaling for font size */
:root {
    --vw-scale-factor: 1;
}

/* FOR SMALLER DESKTOP SCREEN, change font size*/
@media screen and (max-width: 1500px) {
    :root {
        --vw-scale-factor: 0.8; /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --vw-scale-factor: 0.6; /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    :root {
        --vw-scale-factor: 0.5; /* Adjust for smaller screens */
    }
}



/* show the desktop version by default */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }


}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}


/* background image */
.bg-img-orange {
    min-height: 80vh;
    background: url('../assets/bghome.svg');
    background-position: 0px 0px, 100% 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.bg-img-white {
    min-height: 30vh;
    background: url('../assets/bgwhite.svg');
    background-position: 0px 0px, 100% 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* BACKGROUND COLOR FOR ELEMENT */
.bg-white {
    background-color: #FFFFFF;
}

.bg-orange {
    background-color: #F08C03;
}

.bg-blue {
    background-color: #84DFD8;
}

.bg-black {
    background-color: #16182B;
}

.bg-red {
    background-color: #980000;
}

.bg-milk {
    background-color: #F2EEE9;
}

.logo-img {
    max-width: 150px;
    height: auto;
}

.header-line {
    width: 300px;
    margin-left: 200px;
}

/* TEXT SIZE  */
.font-14 { font-size: calc(0.875rem * var(--vw-scale-factor)); }
.font-16 { font-size: calc(1rem * var(--vw-scale-factor)); }
.font-20 { font-size: calc(1.25rem * var(--vw-scale-factor)); }
.font-24 { font-size: calc(1.5rem * var(--vw-scale-factor)); }
.font-26 { font-size: calc(1.625rem * var(--vw-scale-factor)); }
.font-28 { font-size: calc(1.75rem * var(--vw-scale-factor)); }
.font-30 { font-size: calc(1.875rem * var(--vw-scale-factor)); }
.font-32 { font-size: calc(2rem * var(--vw-scale-factor)); }
.font-36 { font-size: calc(2.25rem * var(--vw-scale-factor)); }
.font-38 { font-size: calc(2.375rem * var(--vw-scale-factor)); }
.font-44 { font-size: calc(2.75rem * var(--vw-scale-factor)); }
.font-60 { font-size: calc(3.75rem * var(--vw-scale-factor)); }
.font-64 { font-size: calc(4rem * var(--vw-scale-factor)); }
.font-82 { font-size: calc(5.125rem * var(--vw-scale-factor)); }
.font-96 { font-size: calc(6rem * var(--vw-scale-factor)); }


/* FONT WEIGHT */
.font-light {
    font-weight: 300;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

/* TEXT COLOR */
.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000000;
}

.text-orange {
    color: #F08C03;
}

.text-blue {
    color:#84DFD8;
}

/* DIV STYLING */
.circle {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-service {
    /* width: 24vw;
    aspect-ratio: 0.86; */
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.box-potential {
    padding-top: 5vw;
    padding-bottom: 2vw;
}

/* make div have equal height */
.equal-height {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.service-title {
    width: 90%;
}

/* transform div to half its height so it will overlay other div*/
.half-down {
    transform: translateY(50%);
}

.half-up {
    transform: translateY(-50%);
}

/* give stroke under the title header */
.stroke-underline {
    position: relative
}

.stroke-underline::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url('../assets/line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    background-position: center;
    bottom: -3.5vw;
    left: 0;
}

.img-service {
    height: 150px;
    width: auto;
}

.img-emoji {
    height: 100px;
    width: auto;
}

.img-contribute {
    height: 150px;
    width: auto;
}

.img-univ {
    height: 80px;
    width: auto;
}

.img-circle {
    height: 50px;
    width: auto;
}

/* make tutor div is heigher than the parent */
.parent {
    position: relative;
}

/* make the tutor div is in the middle of the parent */
.bigger {
    height: 110%;
    transform: translateY(-5%);
}

/* giving vertical line between col */
.hr-vertical {
    border-right: 2px solid;
}


/* FOR MOBILE */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .logo-img {
        width: 100px;
    }

    .img-circle {
        height: 30px;
        width: auto;
    }

    .img-service {
        height: 100px;
        width: auto;
    }

    .img-emoji {
        height: 60px;
        width: auto;
    }

    .img-contribute {
        height: 100px;
        width: auto;
    }

    .img-univ {
        height: 40px;
        width: auto;
    }

    .stroke-underline::after {
        display: none;
    }

    .hr-vertical {
        border-right: none;
    }
}


