* {
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/* default scaling for font size */
:root {
    --vw-scale-factor: 1;
}

/* FOR SMALLER DESKTOP SCREEN, change font size*/
@media screen and (max-width: 1500px) {
    :root {
        --vw-scale-factor: 0.8; /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --vw-scale-factor: 0.6; /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    :root {
        --vw-scale-factor: 0.5; /* Adjust for smaller screens */
    }
}



/* show the desktop version by default */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* FOR MOBILE */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .logo-img {
        width: 25px;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }


}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}


/* background image */
.bg-img-orange {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 80vh;
    background: url('../assets/bghome.svg');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: no-repeat;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
}


.bg-img-white {
    position: static;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30vh;
    background: url('../assets/bgwhite.svg');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: no-repeat;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
}


/* BACKGROUND COLOR FOR ELEMENT */
.bg-white {
    background-color: #FFFFFF;
}

.bg-orange {
    background-color: #F08C03;
}

.bg-blue {
    background-color: #84DFD8;
}

.bg-black {
    background-color: #16182B;
}

.bg-red {
    background-color: #980000;
}

.bg-milk {
    background-color: #F2EEE9;
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.testi-img {
    width: 300px;
}

.header-line {
    width: 300px;
    margin-left: 200px;
}

/* TEXT SIZE  */
.font-14 { font-size: calc(0.875rem * var(--vw-scale-factor)); }
.font-16 { font-size: calc(1rem * var(--vw-scale-factor)); }
.font-20 { font-size: calc(1.25rem * var(--vw-scale-factor)); }
.font-24 { font-size: calc(1.5rem * var(--vw-scale-factor)); }
.font-26 { font-size: calc(1.625rem * var(--vw-scale-factor)); }
.font-28 { font-size: calc(1.75rem * var(--vw-scale-factor)); }
.font-30 { font-size: calc(1.875rem * var(--vw-scale-factor)); }
.font-32 { font-size: calc(2rem * var(--vw-scale-factor)); }
.font-36 { font-size: calc(2.25rem * var(--vw-scale-factor)); }
.font-38 { font-size: calc(2.375rem * var(--vw-scale-factor)); }
.font-44 { font-size: calc(2.75rem * var(--vw-scale-factor)); }
.font-60 { font-size: calc(3.75rem * var(--vw-scale-factor)); }
.font-64 { font-size: calc(4rem * var(--vw-scale-factor)); }
.font-82 { font-size: calc(5.125rem * var(--vw-scale-factor)); }
.font-96 { font-size: calc(6rem * var(--vw-scale-factor)); }


/* FONT WEIGHT */
.font-light {
    font-weight: 300;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

/* TEXT COLOR */
.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000000;
}

.text-orange {
    color: #F08C03;
}

/* DIV STYLING */
.circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
}

/* .box-service {
    width: 24vw;
    aspect-ratio: 0.86;
}

.box-testi {
    width: 29vw;
    aspect-ratio: 0.82;
} */

/* .service-title {
    width: 22vw;
} */

.half-down {
    transform: translateY(50%);
}

.half-up {
    transform: translateY(-50%);
}



