/* ===== TUTOR PAGE ====== */
:root {
    --color-black: #16182b;
    --color-blue: #84dfd8;
    --color-orange: #f08c03;
    --color-milk: #f2eee9;
    --color-red: #980000;
    --color-white: #ffffff;
    --color-darkblue: #15172a;
    --color-lightblue: #D2F9F7;
}

/* VIEW TUTOR */
.card-tutor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card-tutor {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 200px;
    width: 30%;
}

.card-tutor img {
    position: relative;
    width: 58%;
    right: -28%;
    top: 51%;
    transform: translateY(-51%);
    border-bottom-right-radius: 8px;
    max-height: 200px;
}

.card-tutor .content {
    position: relative;
    top: -200px;
    width: 70%;
    padding-right: 20px;
    box-sizing: border-box;
}

.card-tutor h2 {
    color: #333;
}

.card-tutor p {
    color: #666;
}

.card-tutor:nth-child(odd) {
    background-image: url("../assets/background/bg-card-1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #82dbd4;
}

.card-tutor:nth-child(even) {
    background-image: url("../assets/background/bg-card-2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #e29134;
}

#t-session img {
    position: relative;
    top: -40%;
}

#t-session .img-emoji {
    position: relative;
    width: 15%;
}

.emo2 {
    position: relative;
    top: 37%;
    left: 23%;
}

.emo1 {
    position: relative;
    top: 78%;
    right: 38%;
}

.emo1,
.emo2 {
    margin-top: -88px; /* Sesuaikan dengan nilai yang sesuai */
}


/* style filter box yg lama */
/* .filter {
    display: flex;
    align-items: center;
    padding: 1px;
    border-radius: 15px;
    height: auto;
    width: 15%;
    margin: 15px;
}

.filter-btn {
    display: flex;
    align-items: center;
    color: white;
    padding: 1px;
    border-radius: 10px;
    background: #f08c03;
    height: auto;
    width: auto;
    margin: 15px;
}

.del-fil-btn {
    display: flex;
    align-items: center;
    padding: 1px;
    border-radius: 10px;
    background: white;
    height: auto;
    width: auto;
    margin: 15px;
}

#pilih {
    font-weight: 0;
    height: auto;
    width: auto;
    padding: 1px;
    border-radius: 15px;
    background: #f08c03;
    box-shadow: none;
    border: none;
}

#hapus {
    font-weight: 0;
    height: auto;
    width: auto;
    padding: 1px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: none;
    border: none;
} */


/* ==== DETAIL TUTOR ==== */

.width-80 {
    width: 80%;
}

/* text align */
.text-justify {
    text-align: justify;
}

/* comparison half up */
.half-up-30 {
    transform:translateY(-15%);
}

/* give check icon to li in course detail */
.check {
    --icon-size: .8em;
    --gutter: .5em;
    padding: 0 0 0 var(--icon-size);
}

.check li {
    padding-left: var(--gutter);
}

.check li::marker {
    content: "\f058"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    font-size: var(--icon-size);
    color: var(--color-orange);
}

/* accordion */
.accordion-item {
    border: none;
}

.accordion-button {
    border: 1px solid var(--text, rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    transition: 0.4s;
    outline: none;
    cursor: pointer;
    background-color: var(--color-milk);
}

/* when the accordion opened */
.accordion-button:not(.collapsed) {
    background-color: var(--color-milk);
    color: var(--color-black);
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* accordion content */
.accordion-body {
    border: 1px solid var(--text, rgba(0, 0, 0, 0.25));
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* MOBILE */
@media (max-width: 767px) {

    .half-up-30 {
        transform:translateY(0%);
    }
}


